#top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em 5em;
  box-sizing: border-box;
  background-color: black;
}

#top-nav ul {
  list-style: none;
  display: flex;
  gap: 1em;
}
